<!DOCTYPE HTML5>
<html>

<head>

    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
	<script src="js/libs/jquery.js"></script>
	<script src="js/libs/jquery.jplayer.min.js" type="text/javascript"></script>
    <script src="js/music.js" type="text/javascript"></script>
    <script src="js/body.js" type="text/javascript"></script>

</head>


<body>

    <div id="global-wrapper">

        <div id="content-wrapper">
            
            <div id="page-title">
                RAILWAY - SYNECDOCHE EP
            </div>

            <div id="jp_container_0" class="song left-song top-song" data-num="0">
                <div class="progress jp-play-bar"></div>
                <span class="song-text">
                INTRO<br>
                (BRING ME ALONG PT. I)
                </span>
            </div>

            <div id="jp_container_1" class="song right-song top-song" data-num="1">
                <div class="progress jp-play-bar"></div>
                <span class="song-text">
                BRING ME ALONG PT. II
                </span>
            </div>

            <div id="jp_container_2" class="song left-song bot-song" data-num="2">
                <div class="progress jp-play-bar"></div>
                <span class="song-text">
                SUMMER CITY PT. I
                </span>
            </div>

            <div id="jp_container_3" class="song right-song bot-song" data-num="3">
                <div class="progress jp-play-bar"></div>
                <span class="song-text">
                SUMMER CITY PT. II
                </span>
            </div>

            <div id="buttons-container">
                <a href="http://twitter.com/tristanrodman" target="_blank" class="picture-link">
                    <img src="images/twitter.png" class="picture-button"/>
                </a>
                <a href="http://download1585.mediafire.com/3mre29oatjyg/6rrstj8xw547gi2/Railway+-+Synecdoche+EP.zip" class="picture-link" download>
                    <img src="images/download.png" class="picture-button"/>
                </a>
                <a href="http://facebook.com/railwaymusic" target="_blank" class="picture-link">
                    <img src="images/facebook.png" class="picture-button"/>
                </a>
            </div>

            <div id="liner-notes-label">LINER NOTES</div>

            <div id="liner-notes">
                <div id="liner-notes-text">
                    Synecdoche is an EP about parts and (w)holes, places that feel empty and the thoughts that fill them up.<br>
                    <br>
                    All songs written by Tristan Rodman<br>
                    Drum performance on tracks 2, 3, and 4 by Will Radin<br>
                    Guitar on tracks 2, 3, and 4 by <a href="http://stolenjars.bandcamp.com/" target="_blank">Cody Fitzgerald</a> and Connor McGuigan<br>
                    <br>
                    Recorded at Brown University, Steinert Studios + Granoff Center<br>
                    Spring 2013<br>
                    Mastered by Derek at <a href="http://www.modernsoundmastering.com/" target="_blank">modernsoundmastering.com</a><br>
                    Website concept + design by Tristan Rodman<br>
                    Web development by <a href="http://jvkoh.com" target="_blank">Jonny Koh</a><br>
                    <br>
                    Endless thanks to Henry MacConnel and David Lee, who helped record and mix much of this EP; to Cody, Connor, and Will for their talent and time; to David Adler, who plays some killer drums when we do this live; to all who lent their ears at various stages<br>
                    <br>
                    <a href="mailto:railwaymusics@gmail.com">railwaymusics@gmail.com</a>
                </div>
            </div>


            <div>
                <div id="jquery_jplayer_0" class="jp" data-interface="jp_container_0"></div>
                <div id="jquery_jplayer_1" class="jp" data-interface="jp_container_1"></div>
                <div id="jquery_jplayer_2" class="jp" data-interface="jp_container_2"></div>
                <div id="jquery_jplayer_3" class="jp" data-interface="jp_container_3"></div>
            </div>

        </div>

    </div>

</body>

</html>
