@font-face {
    font-family: OstrichSans;
    src: url( ../fonts/OstrichSans-Black.otf );
    font-weight:400;
}

body {
	font-family: OstrichSans, Sans-Serif;
	background: #000;
}

a { text-decoration: none; color: #4D5EAA; }
a:hover { text-decoration: underline; color: black; }

#content-wrapper {
    width: 95%;
    margin: 10px auto;
	border: 10px #4D5EAA solid;
	background: #FFF7EE;
}

#liner-notes {
    padding: 15px;
    text-align: center;
    color: #FFF7EE;
    background: black;
}

#page-title {
    text-align: center;
    font-size: 28px;
    padding: 15px 0;
}

.song {
    position: relative;
    left: 0;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

.progress {
    position: absolute;
	background-color: #4D5EAA;
    z-index: 2;
    height: 100%;
}

.song-text {
    position: relative;
    padding: 10px 0;
    display: block;
    z-index: 3;
}

#buttons-container {
    text-align: center;
    padding: 15px 0;
}

a.picture-link:hover {
    text-decoration: none;
}

.picture-button {
    padding: 0 10px;
    width: 50px;
    height: 50px;
}
